<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Molotilov403IsIP_DE.Properties.Settings.Molotilov403DEConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=Molotilov403DE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>